name: stereo_pd
channels:
  - conda-forge
dependencies:
  - python=3.11
  - pip
  - numpy
  - pandas
  - scipy
  - matplotlib
  - seaborn
  - statsmodels
  - scanpy
  - anndata
  - jupyterlab
  - ipykernel
  - pip:
      - nbstripout
